@model IEnumerable<Medical.Models.Patient>

@{
    ViewData["Title"] = "Success Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-12 col-md-12 col-sm-12">
                <!-- Login Form -->
                <div class="login-form">

                    <!--Login Form-->
                    <form asp-action="PasswordChangeMsg" asp-controller="PatientReg">
                        <div class="form-group">
                            
                            <div class="message-box with-icon success">
                                <div class="icon-box"><span class="icon fa fa-check"></span></div>
                                <h3>Success Message</h3>
                                <p>Your Password Successfully Changed !!!</p>

                            </div>
                        </div>


                        <div class="form-group">
                            <a href="../Home2/Index" class="theme-btn btn-style-one small" type="submit" name="submit-form">
                                <span class="btn-title">
                                    OK
                                </span>
                            </a>

                        </div>


                    </form>
                </div>
                <!--End Login Form -->
            </div>


        </div>
    </div>
</section>
